layout poetry

export FLASK_APP=src/flask_learning/microblog.py

export MAIL_HOST=smtp.gmail.com
export MAIL_USERNAME=derek.wan.test2@gmail.com
export MAIL_PASSWORD=hqtiyipezaoxurvs
export MAIL_TO_ADDRESS=d.wan@icloud.com

unset PYTHONSTARTUP
